ClientBankSWNet/ClienteBankSWNet/Connected Services/ProductWebService/ProductWebServicePort1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:ns0="http://webServices/" targetNamespace="http://webServices/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="product">
    <xsd:sequence>
      <xsd:element name="code" type="xsd:int" />
      <xsd:element minOccurs="0" name="desc" type="xsd:string" />
      <xsd:element minOccurs="0" name="name" type="xsd:string" />
      <xsd:element name="sate" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="typeProduct" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="deleteProduct">
    <xsd:sequence>
      <xsd:element name="arg0" type="xsd:int" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="deleteProductResponse">
    <xsd:sequence>
      <xsd:element name="return" type="xsd:boolean" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="findProduct">
    <xsd:sequence>
      <xsd:element name="arg0" type="xsd:int" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="insertProductResponse">
    <xsd:sequence>
      <xsd:element name="return" type="xsd:boolean" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="findProductResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="ns0:product" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="updateProduct">
    <xsd:sequence>
      <xsd:element name="arg0" type="xsd:int" />
      <xsd:element minOccurs="0" name="arg1" type="ns0:product" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="listAllProductsResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="return" type="ns0:product" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="listAllProducts" />
  <xsd:complexType name="updateProductResponse">
    <xsd:sequence>
      <xsd:element name="return" type="xsd:boolean" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="insertProduct">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="arg0" type="ns0:product" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="deleteProduct" type="ns0:deleteProduct" />
  <xsd:element name="deleteProductResponse" type="ns0:deleteProductResponse" />
  <xsd:element name="findProduct" type="ns0:findProduct" />
  <xsd:element name="insertProductResponse" type="ns0:insertProductResponse" />
  <xsd:element name="findProductResponse" type="ns0:findProductResponse" />
  <xsd:element name="updateProduct" type="ns0:updateProduct" />
  <xsd:element name="listAllProductsResponse" type="ns0:listAllProductsResponse" />
  <xsd:element name="listAllProducts" type="ns0:listAllProducts" />
  <xsd:element name="updateProductResponse" type="ns0:updateProductResponse" />
  <xsd:element name="insertProduct" type="ns0:insertProduct" />
</xsd:schema>