ClientBankSWNet/ClienteBankSWNet/Connected Services/ClientWebService/ClientWebServiceSW.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:ns0="http://webServices/" targetNamespace="http://webServices/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="listAllClientsResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="return" type="ns0:client" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="findClientResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="ns0:client" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="deleteClient">
    <xsd:sequence>
      <xsd:element name="arg0" type="xsd:int" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="client">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="birthday" type="xsd:date" />
      <xsd:element minOccurs="0" name="documetType" type="xsd:string" />
      <xsd:element minOccurs="0" name="email" type="xsd:string" />
      <xsd:element minOccurs="0" name="gender" type="xsd:string" />
      <xsd:element name="identificationNumber" type="xsd:int" />
      <xsd:element minOccurs="0" name="name" type="xsd:string" />
      <xsd:element minOccurs="0" name="phoneNumber" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="listAllClients" />
  <xsd:complexType name="updateClient">
    <xsd:sequence>
      <xsd:element name="arg0" type="xsd:int" />
      <xsd:element minOccurs="0" name="arg1" type="ns0:client" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="updateClientResponse">
    <xsd:sequence>
      <xsd:element name="return" type="xsd:boolean" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="insertClient">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="arg0" type="ns0:client" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="findClient">
    <xsd:sequence>
      <xsd:element name="arg0" type="xsd:int" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="deleteClientResponse">
    <xsd:sequence>
      <xsd:element name="return" type="xsd:boolean" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="insertClientResponse">
    <xsd:sequence>
      <xsd:element name="return" type="xsd:boolean" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="listAllClientsResponse" type="ns0:listAllClientsResponse" />
  <xsd:element name="findClientResponse" type="ns0:findClientResponse" />
  <xsd:element name="deleteClient" type="ns0:deleteClient" />
  <xsd:element name="listAllClients" type="ns0:listAllClients" />
  <xsd:element name="updateClient" type="ns0:updateClient" />
  <xsd:element name="updateClientResponse" type="ns0:updateClientResponse" />
  <xsd:element name="insertClient" type="ns0:insertClient" />
  <xsd:element name="findClient" type="ns0:findClient" />
  <xsd:element name="deleteClientResponse" type="ns0:deleteClientResponse" />
  <xsd:element name="insertClientResponse" type="ns0:insertClientResponse" />
</xsd:schema>