ClientBankSW/classes/webservices/ClientWebServiceSW.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webServices/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webServices/" name="ClientWebServiceSW">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://webServices/" schemaLocation="ClientWebServiceSW1.xsd"/>
    </xsd:schema>
  </types>
  <message name="listAllClients">
    <part name="parameters" element="tns:listAllClients"/>
  </message>
  <message name="listAllClientsResponse">
    <part name="parameters" element="tns:listAllClientsResponse"/>
  </message>
  <message name="updateClient">
    <part name="parameters" element="tns:updateClient"/>
  </message>
  <message name="updateClientResponse">
    <part name="parameters" element="tns:updateClientResponse"/>
  </message>
  <message name="insertClient">
    <part name="parameters" element="tns:insertClient"/>
  </message>
  <message name="insertClientResponse">
    <part name="parameters" element="tns:insertClientResponse"/>
  </message>
  <message name="deleteClient">
    <part name="parameters" element="tns:deleteClient"/>
  </message>
  <message name="deleteClientResponse">
    <part name="parameters" element="tns:deleteClientResponse"/>
  </message>
  <message name="findClient">
    <part name="parameters" element="tns:findClient"/>
  </message>
  <message name="findClientResponse">
    <part name="parameters" element="tns:findClientResponse"/>
  </message>
  <portType name="ClientWebService">
    <operation name="listAllClients">
      <input wsam:Action="http://webServices/ClientWebService/listAllClientsRequest" message="tns:listAllClients"/>
      <output wsam:Action="http://webServices/ClientWebService/listAllClientsResponse" message="tns:listAllClientsResponse"/>
    </operation>
    <operation name="updateClient">
      <input wsam:Action="http://webServices/ClientWebService/updateClientRequest" message="tns:updateClient"/>
      <output wsam:Action="http://webServices/ClientWebService/updateClientResponse" message="tns:updateClientResponse"/>
    </operation>
    <operation name="insertClient">
      <input wsam:Action="http://webServices/ClientWebService/insertClientRequest" message="tns:insertClient"/>
      <output wsam:Action="http://webServices/ClientWebService/insertClientResponse" message="tns:insertClientResponse"/>
    </operation>
    <operation name="deleteClient">
      <input wsam:Action="http://webServices/ClientWebService/deleteClientRequest" message="tns:deleteClient"/>
      <output wsam:Action="http://webServices/ClientWebService/deleteClientResponse" message="tns:deleteClientResponse"/>
    </operation>
    <operation name="findClient">
      <input wsam:Action="http://webServices/ClientWebService/findClientRequest" message="tns:findClient"/>
      <output wsam:Action="http://webServices/ClientWebService/findClientResponse" message="tns:findClientResponse"/>
    </operation>
  </portType>
  <binding name="ClientWebServicePortBinding" type="tns:ClientWebService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="listAllClients">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="updateClient">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="insertClient">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="deleteClient">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="findClient">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="ClientWebServiceSW">
    <port name="ClientWebServicePort" binding="tns:ClientWebServicePortBinding">
      <soap:address location="http://localhost:7101/ServerBankSW/ClientWebServiceSW"/>
    </port>
  </service>
</definitions>