ClientBankSW/classes/webservices/ProductWebServiceSW.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webServices/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webServices/" name="ProductWebServiceSW">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://webServices/" schemaLocation="ProductWebServicePort1.xsd"/>
    </xsd:schema>
  </types>
  <message name="listAllProducts">
    <part name="parameters" element="tns:listAllProducts"/>
  </message>
  <message name="listAllProductsResponse">
    <part name="parameters" element="tns:listAllProductsResponse"/>
  </message>
  <message name="insertProduct">
    <part name="parameters" element="tns:insertProduct"/>
  </message>
  <message name="insertProductResponse">
    <part name="parameters" element="tns:insertProductResponse"/>
  </message>
  <message name="findProduct">
    <part name="parameters" element="tns:findProduct"/>
  </message>
  <message name="findProductResponse">
    <part name="parameters" element="tns:findProductResponse"/>
  </message>
  <message name="updateProduct">
    <part name="parameters" element="tns:updateProduct"/>
  </message>
  <message name="updateProductResponse">
    <part name="parameters" element="tns:updateProductResponse"/>
  </message>
  <message name="deleteProduct">
    <part name="parameters" element="tns:deleteProduct"/>
  </message>
  <message name="deleteProductResponse">
    <part name="parameters" element="tns:deleteProductResponse"/>
  </message>
  <portType name="ProductWebService">
    <operation name="listAllProducts">
      <input wsam:Action="http://webServices/ProductWebService/listAllProductsRequest" message="tns:listAllProducts"/>
      <output wsam:Action="http://webServices/ProductWebService/listAllProductsResponse" message="tns:listAllProductsResponse"/>
    </operation>
    <operation name="insertProduct">
      <input wsam:Action="http://webServices/ProductWebService/insertProductRequest" message="tns:insertProduct"/>
      <output wsam:Action="http://webServices/ProductWebService/insertProductResponse" message="tns:insertProductResponse"/>
    </operation>
    <operation name="findProduct">
      <input wsam:Action="http://webServices/ProductWebService/findProductRequest" message="tns:findProduct"/>
      <output wsam:Action="http://webServices/ProductWebService/findProductResponse" message="tns:findProductResponse"/>
    </operation>
    <operation name="updateProduct">
      <input wsam:Action="http://webServices/ProductWebService/updateProductRequest" message="tns:updateProduct"/>
      <output wsam:Action="http://webServices/ProductWebService/updateProductResponse" message="tns:updateProductResponse"/>
    </operation>
    <operation name="deleteProduct">
      <input wsam:Action="http://webServices/ProductWebService/deleteProductRequest" message="tns:deleteProduct"/>
      <output wsam:Action="http://webServices/ProductWebService/deleteProductResponse" message="tns:deleteProductResponse"/>
    </operation>
  </portType>
  <binding name="ProductWebServicePortBinding" type="tns:ProductWebService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="listAllProducts">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="insertProduct">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="findProduct">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="updateProduct">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="deleteProduct">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="ProductWebServiceSW">
    <port name="ProductWebServicePort" binding="tns:ProductWebServicePortBinding">
      <soap:address location="http://localhost:7101/ServerBankSW/ProductWebServicePort"/>
    </port>
  </service>
</definitions>