ClienteBankSWNet/ClienteBankSWNet/Connected Services/ProductRegistrationWebService/ProductRegistrationWebServiceSW1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://webServices/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="ProductRegistrationWebServiceSW" targetNamespace="http://webServices/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://192.168.16.14:7101/ServerBankSW/ProductRegistrationWebServicePort?xsd=1" namespace="http://webServices/" />
    </xsd:schema>
  </types>
  <message name="listAllProductRegistrationsService">
    <part name="parameters" element="tns:listAllProductRegistrationsService" />
  </message>
  <message name="listAllProductRegistrationsServiceResponse">
    <part name="parameters" element="tns:listAllProductRegistrationsServiceResponse" />
  </message>
  <message name="findProductRegistration">
    <part name="parameters" element="tns:findProductRegistration" />
  </message>
  <message name="findProductRegistrationResponse">
    <part name="parameters" element="tns:findProductRegistrationResponse" />
  </message>
  <message name="insertProductRegistration">
    <part name="parameters" element="tns:insertProductRegistration" />
  </message>
  <message name="insertProductRegistrationResponse">
    <part name="parameters" element="tns:insertProductRegistrationResponse" />
  </message>
  <message name="updateProductRegistration">
    <part name="parameters" element="tns:updateProductRegistration" />
  </message>
  <message name="updateProductRegistrationResponse">
    <part name="parameters" element="tns:updateProductRegistrationResponse" />
  </message>
  <message name="deleteProductRegistration">
    <part name="parameters" element="tns:deleteProductRegistration" />
  </message>
  <message name="deleteProductRegistrationResponse">
    <part name="parameters" element="tns:deleteProductRegistrationResponse" />
  </message>
  <portType name="ProductRegistrationWebService">
    <operation name="listAllProductRegistrationsService">
      <input wsam:Action="http://webServices/ProductRegistrationWebService/listAllProductRegistrationsServiceRequest" message="tns:listAllProductRegistrationsService" />
      <output wsam:Action="http://webServices/ProductRegistrationWebService/listAllProductRegistrationsServiceResponse" message="tns:listAllProductRegistrationsServiceResponse" />
    </operation>
    <operation name="findProductRegistration">
      <input wsam:Action="http://webServices/ProductRegistrationWebService/findProductRegistrationRequest" message="tns:findProductRegistration" />
      <output wsam:Action="http://webServices/ProductRegistrationWebService/findProductRegistrationResponse" message="tns:findProductRegistrationResponse" />
    </operation>
    <operation name="insertProductRegistration">
      <input wsam:Action="http://webServices/ProductRegistrationWebService/insertProductRegistrationRequest" message="tns:insertProductRegistration" />
      <output wsam:Action="http://webServices/ProductRegistrationWebService/insertProductRegistrationResponse" message="tns:insertProductRegistrationResponse" />
    </operation>
    <operation name="updateProductRegistration">
      <input wsam:Action="http://webServices/ProductRegistrationWebService/updateProductRegistrationRequest" message="tns:updateProductRegistration" />
      <output wsam:Action="http://webServices/ProductRegistrationWebService/updateProductRegistrationResponse" message="tns:updateProductRegistrationResponse" />
    </operation>
    <operation name="deleteProductRegistration">
      <input wsam:Action="http://webServices/ProductRegistrationWebService/deleteProductRegistrationRequest" message="tns:deleteProductRegistration" />
      <output wsam:Action="http://webServices/ProductRegistrationWebService/deleteProductRegistrationResponse" message="tns:deleteProductRegistrationResponse" />
    </operation>
  </portType>
  <binding name="ProductRegistrationWebServicePortBinding" type="tns:ProductRegistrationWebService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="listAllProductRegistrationsService">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="findProductRegistration">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertProductRegistration">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="updateProductRegistration">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="deleteProductRegistration">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ProductRegistrationWebServiceSW">
    <port name="ProductRegistrationWebServicePort" binding="tns:ProductRegistrationWebServicePortBinding">
      <soap:address location="http://192.168.16.14:7101/ServerBankSW/ProductRegistrationWebServicePort" />
    </port>
  </service>
</definitions>